body {
    font-family: 'Inter', sans-serif;
    background-color: #020617;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}